<div class="">
  <div class="app">
    <div class="row">
      <div class="app-block app_main">
        <div class="app-block_inner">
          <div class="app-title">
            <h2>Actualités Bee-Smart</h2>
            <a class="app-links" href="">Toutes les actualités</a>
          </div>
          <div class="app-list news">
            <div class="app-li">
              <div class="app-list_top d-flex flex-wrap">
                <h3>Module</h3>
                <div class="app-list_date">20 Dec 2019  17:16</div>
              </div>
              <div class="app-list_info">
                Développement d’un nouveau module permettant de gérer son administratif, facture, devis développement d’un nouveau module permettant de gérer son administratif, facture, devis
              </div>
            </div>
            <div class="app-li">
              <div class="app-list_top d-flex flex-wrap">
                <h3>Module</h3>
                <div class="app-list_date">20 Dec 2019  17:16</div>
              </div>
              <div class="app-list_info">
                Développement d’un nouveau module permettant de gérer son administratif, facture, devis développement d’un nouveau module permettant de gérer son administratif, facture, devis
              </div>
            </div>
            <div class="force-overflow"></div>
          </div>
        </div>
      </div>
      <div class="app-block app_main">
        <div class="app-block_inner">
          <div class="app-title">
            <h2>Notifications</h2>
          </div>
          <div class="app-list notice">
            <div class="app-li var-p">
              <div class="app-list_top d-flex flex-wrap">
                <h3>Projet</h3>
                <div class="app-list_date">20 Dec 2019  21:16</div>
              </div>
              <div class="app-list_info d-flex">
                <div class="app-list_i">
                  M Dupont à rajouté une tache sur le projet Xxxxxxx
                </div>
                <div class="target">Atteindre</div>
              </div>
            </div>
            <div class="app-li var-s">
              <div class="app-list_top d-flex flex-wrap">
                <h3>Sondage</h3>
                <div class="app-list_date">20 Dec 2019  21:16</div>
              </div>
              <div class="app-list_info d-flex">
                <div class="app-list_i">
                  Nouveau sondage sur Xxxxxxx
                </div>
                <div class="target">Atteindre</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="app-block app_cal">
        <div class="app-block pr-0 pl-0 pt-0">
          <div class="row app-block_inner m-0 p-0">
            <div class="cal-block d-flex col-12 col-sm-6">
              <div class="cal-wrapper"></div>
              <a class="app-links" href="">Mon agenda en détails</a>
            </div>
            <div class="cal-info col-12 col-sm-6 p-0">
              <div class="cal-title">21 Janvier</div>
              <div class="cal-list">
                <div class="cal-li d-flex row  mr-0 ml-0">
                  <div class="cal-li_time col-2 p-0 text-left">9:30</div>
                  <div class="cal-li_info col-10 p-0 text-left">
                    <input type="checkbox" name="cal-li_box" id="app-check-1">
                    <label for="app-check-1">Briefing avec le client Smith</label>
                  </div>
                </div>
                <div class="cal-li d-flex row mr-0 ml-0">
                  <div class="cal-li_time col-2 p-0 text-left">9:30</div>
                  <div class="cal-li_info col-10 p-0 text-left">
                    <input type="checkbox" name="cal-li_box" id="app-check-2">
                    <label for="app-check-2">Briefing avec le client Smith</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row app-block pt-0 pb-0">
          <div class="app-block col-12 col-sm-6 col-lg-4">
            <div class="app-block_inner app-cal_bottom">
              <h2>Gestion client</h2>
              <div class="app-cal_b-i">
                <h2>3600 €</h2>
                Propositions
              </div>
            </div>
          </div>

          <div class="app-block col-12 col-sm-6 col-lg-4">
            <div class="app-block_inner app-cal_bottom">
              <h2>Sondage</h2>
              <div class="app-cal_b-i">
                <h2>78%</h2>
                Oui
              </div>
            </div>
          </div>
          <div class="app-block col-12 col-sm-6 col-lg-4">
            <div class="app-block_inner app-cal_bottom">
              <h2>Forum</h2>
              <div class="app-cal_b-i">
                <h2>89</h2>
                Utilisateurs
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<div class="container">-->
<!--  <h1>{{ 'anms.title.long' | translate }}</h1>-->
<!--  <div class="actions">-->
<!--    <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="primary" routerLink="../feature-list">-->
<!--      {{ 'anms.menu.features' | translate }}-->
<!--    </a>-->
<!--    <a mat-raised-button class="actions-main" color="accent" routerLink="../examples" [ngClass]="routeAnimationsElements">-->
<!--      {{ 'anms.menu.examples' | translate }}-->
<!--    </a>-->
<!--    <a mat-raised-button class="actions-main" color="warn" routerLink="../settings" [ngClass]="routeAnimationsElements">-->
<!--      {{ 'anms.about.change-theme' | translate }}-->
<!--    </a>-->

<!--    <br>-->
<!--    <span [ngClass]="routeAnimationsElements">{{ 'anms.about.check-blogs' | translate }}</span>-->
<!--    <br>-->
<!--    <a mat-raised-button-->
<!--       [ngClass]="routeAnimationsElements"-->
<!--       rel="noopener noreferrer"-->
<!--       target="_blank"-->
<!--       href="https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1">-->
<!--      <fa-icon [icon]="['fab','medium-m']"></fa-icon>-->
<!--      Material Theming-->
<!--    </a>-->
<!--    <a mat-raised-button-->
<!--       [ngClass]="routeAnimationsElements"-->
<!--       rel="noopener noreferrer"-->
<!--       target="_blank"-->
<!--       href="https://medium.com/@tomastrajan/6-best-practices-pro-tips-for-angular-cli-better-developer-experience-7b328bc9db81">-->
<!--      <fa-icon [icon]="['fab','medium-m']"></fa-icon>-->
<!--      Angular Cli Tips-->
<!--    </a>-->
<!--    <a mat-raised-button-->
<!--       [ngClass]="routeAnimationsElements"-->
<!--       target="_blank"-->
<!--       rel="noopener noreferrer"-->
<!--       href="https://medium.com/@tomastrajan/object-assign-vs-object-spread-in-angular-ngrx-reducers-3d62ecb4a4b0">-->
<!--      <fa-icon [icon]="['fab','medium-m']"></fa-icon>-->
<!--      Ngrx Typescript Tips-->
<!--    </a>-->
<!--    <a mat-raised-button-->
<!--       [ngClass]="routeAnimationsElements"-->
<!--       target="_blank"-->
<!--       rel="noopener noreferrer"-->
<!--       href="https://medium.com/@tomastrajan/how-to-style-angular-application-loading-with-angular-cli-like-a-boss-cdd4f5358554">-->
<!--      <fa-icon [icon]="['fab','medium-m']"></fa-icon>-->
<!--      App Loading Style-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="get-started" [ngClass]="routeAnimationsElements">-->
<!--    <h2>{{ 'anms.about.get-started' | translate }}</h2>-->
<!--    <code></code><br>-->
<!--    <code>cd new-project</code><br>-->
<!--    <code>npm install</code><br>-->
<!--    <code>npm start</code>-->
<!--  </div>-->
<!--  <div class="follow-releases" [ngClass]="routeAnimationsElements">-->
<!--    <h2 rtl>{{ 'anms.about.get-notified.title' | translate }}</h2>-->
<!--    <p rtl>-->
<!--      {{ 'anms.about.get-notified.follow' | translate }} <a href="https://www.twitter.com/releasebutler" rel="noopener noreferrer" target="_blank">Release-->
<!--        Butler</a>-->
<!--      {{ 'anms.about.get-notified.description' | translate }}-->
<!--    </p>-->

<!--    <img [src]="releaseButler" alt="Release Butler tweet example">-->
<!--  </div>-->
<!--</div>-->
<!--<div class="container" rtl>-->
<!--  <div class="contributors" [ngClass]="routeAnimationsElements">-->
<!--    <h2>{{ 'anms.about.contributors.title' | translate }}</h2>-->
<!--    <p>{{ 'anms.about.contributors.description1' | translate }}</p>-->
<!--    <p>{{ 'anms.about.contributors.description2' | translate }}</p>-->
<!--    <p>-->
<!--      {{ 'anms.about.contributors.description3' | translate }}-->
<!--      <a href="https://github.com/tomastrajan/new-app/issues" rel="noopener noreferrer" target="_blank">{{'anms.about.contributors.issues'-->
<!--        | translate}}</a>-->
<!--      {{ 'anms.about.contributors.description4' | translate }}-->
<!--      <a href="https://github.com/tomastrajan/new-app/blob/master/CONTRIBUTING.md" rel="noopener noreferrer" target="_blank">{{'anms.about.contributors.guide'-->
<!--        | translate}}</a>-->

<!--    </p>-->


<!--  </div>-->
<!--</div>-->
